body{
    background-color: black;
    text-align: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
}

header{
    color: orange;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    max-width: 60%;
}

.grid {
    display: grid;
    max-width: 500px;
    min-height: 500px;
    margin: 2rem auto;
    border: 2px solid orange;
}
  
.grid-div {
    border: 2px solid black;
    background-color: rgb(56, 55, 55);
}

.container {
    padding: 1rem;
}

#reset{
    background-color: orange;
    color: black;
    size: 5px;
    font-size: smaller;
    font-weight: bold;
    text-decoration: none;
}

#size{
    background-color: orange;
    color: black;
    size: 5px;
    font-size: smaller;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 450px) {
    header {
      font-size: 2.4rem;
    }
  
    .grid {
      max-width: 300px;
      min-height: 300px;
    }
  }
